.shopperTable {
	width:80%;
}

/* style for highlighting the selected row in the grid */
.rowSelected
{
	font-weight:bold;
}

/* style for displaying any error messages after processing server requests */
.errorMessage {
	color: red;
	font-family:'Calibri';

}

 /* styling for loading cursor displayed while processing AJAX requests */
.loadingBackground 
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.loadingDiv
{
     width: 200px;
     height: 100px;
     text-align:center;
     position:absolute;
     left: 50%;
     top: 50%;
     margin-left:-150px;
     margin-top: -100px;
}

.loadingImg
{
	height:60px;
	width:60px;
	margin:30px;
}