
/**************************Global Styles**************************/

*{
	margin:0;
	padding:0;
}


html, body {
  height:100%;
}

body {
  padding-top: 0; /* body padding for fixed top nav */
  color:#000;
  font-family:'Calibri';
}

img{
	max-width:100%;
	height:auto;
}

.body ul, .body ol, .body ul li, .body ol li{
       margin:0 0 0 0;
       float:none;
       position: relative;
       left:10px;
	   color:#3c2b0c;
		font-family:'Calibri';
		font-size:18px;
		list-style-position:outside; 
}

p img{
	border: 3px #fff solid;
	overflow:hidden;
	z-index:999;
	margin-right:15px;
	margin-bottom:10px;
}

h4{
	color:#134576;
}

.container{
	width:980px;
}

/**************************Global Styles End**************************/


/**************************Header Styles**************************/

header{
	width:100%;
	float:left;
	text-align:center;
	color:#000;
	background:#0b55c2;
}

.logo{
	float:left;
	width:100%;
	text-align:left;
	margin:35px 0 25px 0;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;

}

/**************************Header Styles End**************************/


/**************************Body Styles**************************/

.body{
	width:100%;
	float:left;
	margin:0 0;
	text-align:left;
	background:#FFF;
	padding:30px 0 0 0;
}

.body h2{
	color:#04268e;
	font-family:'Calibri';
	font-size:26px;
	margin:0 0 10px 0;
}

.body h1{
	color:#42529e;
	font-family:'Calibri';
	font-size:21px;
	margin:0 0 0 0;
}

.body p{
	color:#000;
	font-family:'Calibri';
	font-size:18px;
	margin:0 0 20px;
}

.shopper{
	width:97%;
	float:left;
	text-align:center;
	color:#FFF;
	font-family:'Calibri';
	font-size:20px;
	background:#0b96c2;
	border:none;
	border-radius: 7px;
	padding:8px;
}

.access{
	width:97%;
	float:left;
	text-align:center;
	color:#FFF;
	font-family:'Calibri';
	font-size:20px;
	background: #4681c2; /* Old browsers */
	background: -moz-linear-gradient(top, #4681c2 0%, #296bc2 44%, #1059c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4681c2), color-stop(44%,#296bc2), color-stop(100%,#1059c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4681c2 0%,#296bc2 44%,#1059c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4681c2 0%,#296bc2 44%,#1059c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4681c2 0%,#296bc2 44%,#1059c2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4681c2 0%,#296bc2 44%,#1059c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4681c2', endColorstr='#1059c2',GradientType=0 ); /* IE6-9 */
	border:none;
	border-radius: 7px;
	padding:8px;
	margin:5px 0;
}

.chkbox{
	width:16px;
	height:16px;
	float:none;
}

.table-responsive tr:nth-child(odd){
		background:#FFF;
		color: #707070;
		font-size:15px;
		font-family:'Calibri';
}

.table-responsive tr:nth-child(even){
		background:#ebebeb;
		color: #707070;
		font-size:15px;
		font-family:'Calibri';
}

.table-responsive tr:hover{
	background-color:#0b55c2;
	color:#FFF;
}

/**************************Body Styles End**************************/


/**************************Footer Styles**************************/

.footer{
	width:100%;
	float:left;
	background:#047d80 url(../images/headerbg.jpg) repeat-x bottom;
	border-top:#156163 3px solid;
}

.footermenu{
	width:100%;
	float:left;
	text-align:center;
	padding:25px 0;
}

.footer p{
	font-family:'Calibri';
	font-size:18px;
	color:#FFF;
}

.footer a{
	font-family:'Calibri';
	font-size:18px;
	color:#FFF;
	border-left:#FFF 1px solid;
	padding:0 8px;
}

.footer a:first-child{
	border:none;
}

.first{
	width:auto;
}

/**************************Footer Styles**************************/
 
/****************************Media Query********************************/

@media (max-width: 1199px) {

.nav > li > a {
	padding: 15px 20px;
}

}

@media (max-width: 991px) {


li ul{
    position: relative;
    margin:0 0 0 0;
	display: none;
    z-index: 100;
	padding:10px 30px;
	width:100%;
	float:right;
}


.logo{
	float:left;
	z-index:9999;
	position:relative;
	width:100%;
	text-align:center;
	margin: 15px 0;
}

 
.pic {
	margin: 6% 0;
}

.part h2 {
	font-size: 32px;
	margin-top:30px;
}

.part{
	padding:30px 5px;
}

}

@media (max-width: 520px) {

.first a{
	width:100%;
	float:left;
	text-align:center;
	border:none;
}

.logo a {
	font-size: 20px;
}

}

/****************************Media Query End********************************/


/****************************Button Styles********************************/

.button{
    background: #ac69bd; /* Old browsers */
	background: -moz-linear-gradient(top, #ac69bd 0%, #a059a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac69bd), color-stop(100%,#a059a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ac69bd 0%,#a059a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ac69bd 0%,#a059a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ac69bd 0%,#a059a8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ac69bd 0%,#a059a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac69bd', endColorstr='#a059a8',GradientType=0 ); /* IE6-9 */
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    float:left;
    font-size:20px;
    margin:10px 0;
	border:none;
	width:150px;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif;
}

.button:hover{
	background: #a059a8; /* Old browsers */
	background: -moz-linear-gradient(top, #a059a8 0%, #ac69bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a059a8), color-stop(100%,#ac69bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a059a8 0%,#ac69bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a059a8 0%,#ac69bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a059a8 0%,#ac69bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a059a8 0%,#ac69bd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a059a8', endColorstr='#ac69bd',GradientType=0 ); /* IE6-9 */
    color: #fff;
	text-shadow:#000 2px 2px 5px;
}

 
input:focus, select:focus{
    background-color: none;
}
 
.center{
	text-align:center !important;
	float: left;
	width: 15% !important;
}

/****************************Button Styles End********************************/
